$accent-color: steelblue;
$text-color: gray;
$text-color-light: white;

@page CoverPage {
    color: white !important;
    background-color: steelblue;
}

@page Chapter {}

body {
    color: $text-color;
    counter-reset: chapters;
}

section.cover-page {
    page: CoverPage;

    break-after: always;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $text-color-light;
}

section.level1 {
    page: Chapter;
    counter-increment: chapters;

    h1 {
        padding-top: 3em;
        padding-bottom: 3em;

        &::before {
            content: counter(chapters);
            padding-right: 1em;
        }
    }
}
